.app {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 2vh 2vw;
  background-color: rgba(95, 61, 196, 0.1);
  padding-top: 20px;
}

.block {
  display: grid;
  grid-template-columns: 2fr 2fr;
  gap: 15px;
  align-items: center;
  justify-content: center;
}

.container {
  background-color: rgba(0, 0, 0, 0.1);
  border: none;
  border-radius: 10px;
  min-height: 200px;
  margin-bottom: 15px;
  align-items: center;
  display: flex;
  justify-content: center;
}

.widhter {
  margin: auto;
  justify-content: center;
  align-items: center;
  width: 800px;
}